<h1 align="center">
	<%= @music_product.name %>
</h1>
<div style="display: flex; flex-direction: row;">
	<div><%= music_product_image @music_product.image%></div>
	<div style="margin-left: 10px;">
		Prefomer:<br>
		Autor:<br>
		Album:<br>
		Price:<br>
	</div>
	<div style="height: 200px;">
		<div style=" margin-left: 20px;">
			<%= @music_product.perfomet%><br>
			<%= @music_product.autor%><br>
			<%= @music_product.album%><br>
			<%= @music_product.prise%><br>
		</div>
	</div>
</div>
<div class="">
	<% @music_product.images.each do |image|%>
		<%= image_tag image, width: 300, height: 200%>
	<%end%>
</div>
